body,
html {
  margin: 0;
  height: 100%;
  color: white;
}

body {
  background-color: black;
  position: relative;
  /* text-align: center; */
}

.image {
  background-image: url("./assets/home/background-home-desktop.jpg");

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  height: 100%;
}

.header {
  height: 30%;
}

.toppading {
  height: 40px;
  width: 100%;
}

.menu {
  /* position: absolute; */
  width: 830px;
  height: 96px;
  margin-left: 705px;

  background: rgba(255, 255, 255, 0.04);
  backdrop-filter: blur(81.5485px);
}

.choices {
  position: absolute;
  display: flex;
  width: 542px;
  height: 19px;
  padding-top: 39px;
  padding-left: 123px;

  font-family: "Barlow Condensed", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 2.7px;

  color: #ffffff;
  /* left: 733px;
  top: 79px; */
}

a {
  text-decoration: none !important;
  color: #ffffff;
}

.homepage {
  margin-right: 50px;
}

.homepage:hover {
  border-bottom: 3px solid rgba(255, 255, 255, 0.5);
  padding-bottom: 54px;
  mix-blend-mode: normal;
}

.destinationpage {
  margin-right: 50px;
}

.destinationpage:hover {
  /* text-decoration: underline; */
  border-bottom: 3px solid rgba(255, 255, 255, 0.5);
  padding-bottom: 54px;
  mix-blend-mode: normal;
}

.crewpage {
  margin-right: 50px;
}

.crewpage:hover {
  border-bottom: 3px solid rgba(255, 255, 255, 0.5);
  padding-bottom: 54px;
  mix-blend-mode: normal;
}

.technologypage:hover {
  border-bottom: 3px solid rgba(255, 255, 255, 0.5);
  padding-bottom: 54px;
  mix-blend-mode: normal;
}

.body {
  height: 70%;
  display: flex;
}

.introduction {
  width: 50%;
}

.introductioncontainer {
  width: 450px;
  /* height: 382px; */
  background-color: none;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.first {
  height: 34px;
  left: 0.11%;
  right: 15.67%;
  top: calc(50% - 34px / 2 - 174px);

  font-family: "Barlow Condensed", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 34px;
  /* identical to box height */

  letter-spacing: 4.725px;

  color: #d0d6f9;
}

.second {
  /* position: absolute; */
  height: 172px;
  left: 0%;
  right: 1.11%;
  top: calc(50% - 172px / 2 - 47px);

  font-family: "Bellefair", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 150px;
  line-height: 172px;
  /* identical to box height */

  color: #ffffff;
}

.third {
  /* position: absolute; */
  height: 128px;
  left: 0.11%;
  right: 1.22%;
  top: calc(50% - 128px / 2 + 127px);

  font-family: "Barlow", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  /* or 178% */

  color: #d0d6f9;
}

/* .hovereffect {
  background-color: none;
  width: 450px;
  height: 450px;
  border-radius: 230px;
} */

.explorebackground {
  width: 50%;
  background-color: white;
  width: 274px;
  height: 274px;
  border-radius: 140px;
  position: absolute;
  margin: 88px;
  pointer-events: none;
}

.explore {
  position: absolute;
  /* left: 22.63%;
  right: 23.36%;
  top: calc(50% - 37px / 2 + 0.5px); */

  font-family: "Bellefair", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 37px;
  height: 37px;
  margin-top: 118.9px;
  margin-left: 58px;
  /* identical to box height */

  letter-spacing: 2px;
  pointer-events: auto;

  color: #0b0d17;
}

.explorebackground:hover {
  cursor: pointer;
  outline: 88px solid rgba(255, 255, 255, 0.1);
}
