.App {
  height: 100vh;
}

.homeimage {
  background-image: url("./assets/home/background-home-desktop.jpg");
}

.destinationimage {
  background-image: url("./assets/destination/background-destination-desktop.jpg");
}

.crewimage {
  background-image: url("./assets/crew/background-crew-desktop.jpg");
}

.technologyimage {
  background-image: url("./assets/technology/background-technology-desktop.jpg");
}

.image {
  /* Full height */
  height: 100vh;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  image-rendering: pixelated;
}

.container {
  height: 100vh;
}

.header {
  height: 20vh;
}

.toppading {
  height: 40px;
  width: 100%;
}

.headerimage {
  background-color: #ffffff;
  position: absolute;
  width: 48px;
  height: 48px;
  border-radius: 30px;
  margin-left: 55px;
  margin-top: 24px;
}

.menu {
  position: absolute;
  width: 830px;
  height: 96px;
  margin-left: 705px;

  background: rgba(255, 255, 255, 0.04);
  backdrop-filter: blur(20px);
}

.line {
  position: absolute;
  width: 550px;
  height: 1px;
  margin-left: -510px;
  margin-top: 48px;

  background: #ffffff;
  mix-blend-mode: normal;
  opacity: 0.25;
}

.choices {
  position: absolute;
  display: flex;
  width: 542px;
  height: 19px;
  padding-top: 39px;
  padding-left: 123px;

  font-family: "Barlow Condensed", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 2.7px;

  color: #ffffff;
  /* left: 733px;
  top: 79px; */
}

a {
  text-decoration: none !important;
  color: #ffffff;
}

.link {
  text-decoration: none !important;
  color: #ffffff;
}

.link:hover {
  border-bottom: 3px solid rgba(255, 255, 255, 0.5);
  padding-bottom: 35.5px;
  mix-blend-mode: normal;
}

.active {
  border-bottom: 3px solid rgba(255, 255, 255);
  padding-bottom: 35.5px;
  mix-blend-mode: normal;
}

.homepage {
  margin-right: 50px;
}

.destinationpage {
  margin-right: 50px;
}

.crewpage {
  margin-right: 50px;
}

.body {
  height: 80vh;
  display: flex;
}

/* home page CSS */
.introduction {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.introductioncontainer {
  width: 450px;
  height: 382px;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  background-color: none;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  left: 165px;
  top: 387px;
}

.first {
  height: 34px;
  left: 0.11%;
  right: 15.67%;
  top: calc(50% - 34px / 2 - 174px);

  font-family: "Barlow Condensed", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 34px;
  /* identical to box height */

  letter-spacing: 4.725px;

  color: #d0d6f9;
}

.second {
  /* position: absolute; */
  height: 172px;
  left: 0%;
  right: 1.11%;
  top: calc(50% - 172px / 2 - 47px);

  font-family: "Bellefair", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 150px;
  line-height: 172px;
  /* identical to box height */

  color: #ffffff;
}

.third {
  /* position: absolute; */
  height: 128px;
  left: 0.11%;
  right: 1.22%;
  top: calc(50% - 128px / 2 + 127px);

  font-family: "Barlow", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  /* or 178% */

  color: #d0d6f9;
}

.hovereffect {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.explorebackground {
  background-color: white;
  width: 274px;
  height: 274px;
  border-radius: 140px;
  position: absolute;
  margin: 88px;
  pointer-events: none;
}

.explore {
  position: absolute;
  /* left: 22.63%;
  right: 23.36%;
  top: calc(50% - 37px / 2 + 0.5px); */

  font-family: "Bellefair", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 37px;
  height: 37px;
  margin-top: 118.9px;
  margin-left: 58px;
  /* identical to box height */

  letter-spacing: 2px;
  pointer-events: auto;

  color: #0b0d17;
}

.explorebackground:hover {
  cursor: pointer;
  outline: 88px solid rgba(255, 255, 255, 0.1);
}

/* destination page CSS */
.heading {
  /* position: absolute; */
  /* display: flex; */
  height: 34px;
  width: 100%;
  font-family: "Barlow Condensed";
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 34px;
  /* identical to box height */

  letter-spacing: 4.725px;
  text-transform: uppercase;

  color: #ffffff;
}

.count {
  font-weight: 700;
  mix-blend-mode: normal;
  opacity: 0.25;
  padding-right: 28px;
}

.destinationSelector ul {
  display: flex;
  padding: 0px;
  /* position: absolute; */
  height: 19px;
  font-family: "Barlow Condensed";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 2.7px;
  text-transform: uppercase;
  color: #ffffff;
}

.destinationSelector li {
  display: flex;
  padding-right: 35px;
}

.destinationDiscription {
  display: flex;
  flex-direction: column;
}

.destinationDiscriptionFooter {
  display: flex;
  flex-direction: row;
}

.discriptionFooter {
  display: flex;
  flex-direction: column;
}

.destinationName {
  /* position: absolute; */
  height: 115px;
  font-family: "Bellefair";
  font-style: normal;
  font-weight: 400;
  font-size: 100px;
  line-height: 115px;
  /* identical to box height */
  color: #ffffff;
  text-transform: uppercase;
}

.aboutdestination {
  /* position: absolute; */
  height: 128px;
  display: flex;
  font-family: "Barlow";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  /* or 178% */
  color: #d0d6f9;
}

.discriptionFooter {
  /* position: absolute; */
  height: 32px;
  font-family: "Bellefair";
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 32px;
  /* identical to box height */

  text-transform: uppercase;

  color: #ffffff;
}

.discriptionFootertHead {
  /* position: absolute; */
  height: 17px;
  font-family: "Barlow Condensed";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */

  letter-spacing: 2.3625px;
  text-transform: uppercase;

  color: #d0d6f9;
}
